
a {
	color: #D85089;
}

a img {
	border: none;
}

a:visited {
	color: #D85089;
}

a:hover {
	color: #D85089;
}

acronym, abbr {
	border-bottom: 1px dashed #333;
}

acronym, abbr, span.caps {
	font-size: 90%;
	letter-spacing: .07em;
}

acronym, abbr {
	cursor: help;
}

blockquote {
	border-left:5px solid #E79EB7;
	margin:0 15px;
	padding:0 0 0 5px;
}

body {
	background: #660924;
	background-image: url('images/bg-site.gif');
	color: #9D204A;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 780px;
	margin: 0 auto;
}

#shadow {
	background-image: url("images/bg-shadow.png");
	background-repeat: repeat-y;
	margin: 0 auto;
	width: 780px;
}

#page {
	width: 760px;
	background-image: url("images/bg-page.png");
	background-repeat: repeat-y;
	margin: 0 auto;
}

.in-maintenance #page {
	background-image: url("images/bg-page-maintenance.png");
	padding: 0 10px;
	width: 740px;
}

.in-maintenance h1#site-name {
	padding: 0;
	margin: 0;	
}

#sidebar {
	width: 250px;
	float: left;
	color: #D85089;
}

#sidebar a, #sidebar a:link, #sidebar a:active, #sidebar a:visited {
	color: #E79EB7;
	text-decoration: underline;
}

#sidebar a:hover {
	color: #E79EB7;
	text-decoration: none;
}

#widgets {
	padding: 0;
	margin: 0;	
}

#content {
	width: 485px;
	padding: 0 10px;
	margin: 0;
	float: left;
	color: #9D204A;
}

.in-maintenance #content {
	padding: 0;
	margin: 0;
	width: 100%;	
}

#content a, #content a:link, #content a:active, #content a:visited {
	color: #D85089;
	text-decoration: underline;
}

#content a:hover {
	color: #D85089;
	text-decoration: none;
}

#content h3 a, #content h3 a:link, #content h3 a:active, #content h3 a:visited, #content h3 a:hover {
	color: #4F020C;	
}

#sidebar ul, .block ul {
	list-style-type: none;	
	padding: 0 !important;
	margin: 0 !important;
}

#sidebar ul li, #sidebar ul li.leaf, #sidebar ul.menu li {
	background-image: url("images/bullet-sidebar.gif");
	background-position: 0 5px;
	background-repeat: no-repeat;
	list-style-type: none;
	margin: 0 !important;
	padding: 0 12px !important;
}



#sidebar ul li.collapsed {
	background-image: url("images/bullet-sidebar-collapsed.gif");
	background-position: 0 5px;
	background-repeat: no-repeat;
	list-style-image: none;
	list-style-type: none;
}

#content ul li.collapsed {
	list-style-image: none;
	list-style-type: none;
}

#sidebar ul li.expanded {
	background-image: url("images/bullet-sidebar-expanded.gif");
	background-position: 0 5px;
	background-repeat: no-repeat;
	list-style-image: none;
	list-style-type: none;
}

#content ul li.expanded {
	list-style-image: none;
	list-style-type: none;
}

#sidebar ul li.leaf, #content ul li.leaf {
	list-style-image: none;
	list-style-type: none;
}

#content ul {
	list-style-type: none;	
	padding: 0 10px 10px 5px;
	margin: 0;
}

#content ul li {
	background-image: url("images/bullet-content.gif");
	background-position: 0 5px;
	background-repeat: no-repeat;
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 15px;
}

#content .messages ul li, #content .warning ul li {
	background-image: url("images/bullet-sidebar.gif");
}

#content ol {
	margin:0 0 0 25px;
	padding:0 10px 10px 0;
}

#content ol li {
	margin: 0;
	padding: 0;
}

cite {
	font-family: Georgia, "Times New Roman", serif;
}

cite:before {
	content: "\"";
	font-family: Georgia, "Times New Roman", serif;
}

cite:after {
	content: "\"";
	font-family: Georgia, "Times New Roman", serif;
}

h2 {
	border-bottom: 1px dotted #D85089;
	margin: 0;
	padding: 0;
	color: #4F020C;
	letter-spacing: 2px;
}

h2 a {
	color: #4F020C;	
}

#content h2.storytitle a {
	color: #4F020C;	
}

h3 {
	margin-top: 0;
	color: #4F020C;
	letter-spacing: 2px;
	font-size:120%;
}

h4 {
	padding: 0;
	margin: 0;
	letter-spacing: 2px;
}

.blocklist h4 {
	background-image: url("images/bg-heading.png");
	border-bottom: 2px solid #EEB5CE;
	color: #E27EA9;
	display: block;
	font-size: 15pt;
	font-weight: normal;
	height: 30px;
	margin: 0 auto;
	padding: 0 0 0 5px;
	vertical-align: middle;
	width: 235px;
}

.blocklist h4 a {
	text-align:left;	
}

.blocklist.main {
	padding: 0 10px 10px;
}

#search-block-form {
	padding: 0;
	margin: 10px auto 0;
	text-align: center;
}

ol#comments li p {
	font-size: 100%;
}

/* classes used by the_meta() */
ul.post-meta {
	list-style: none;
}

ul.post-meta span.post-meta-key {
	font-weight: bold;
}

#shadowbottom {
	background-image: url("images/bg-footer.png");
	margin: 0;
	padding: 0;
	text-align: center;
	height: 20px;
}

.in-maintenance #shadowbottom {
	background-image: url("images/bg-footer-maintenance.png");
}

#footer {
	font-size: 8pt;
	color: #E79EB7;
	padding: 0 0 10px;
	text-align: center;
}

#footer a {
	color: #F6E7E4;
}

#footer a:hover {
	color: #F6E7E4;
	text-decoration: none;
}

.clear {
	clear: both;	
}

.credit a:link, .credit a:hover {
	color: #fff;
}

.feedback {
	font-size: 8pt;
	color: #D85089;
	text-align: right;
	clear: both;
}

hr {
	border-color: #9D204A;
	border-style: none none dotted;
	border-width: 1px;
	width: 440px;
}

.hr {
	background-image: url("images/hr.png");
	background-repeat: no-repeat;
	width: 480px;
	height: 5px;
	padding: 5px 0;
	margin: 0 auto;	
}

.in-maintenance .hr {
	background-image: url("images/hr-maintenance.png");
	width: 740px;
}

.meta {
	font-size: 8pt;
	color: #D85089;
	border-bottom: 1px dotted #D85089;
}

.meta a {
		
}

.meta li, ul.post-meta li {
	display: inline;
}

.meta ul {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

code {
	background-color: white;
	border: 1px inset white;
	display: block;
	font-family: "Courier New", serif;
	font-size: 8pt;
	padding: 5px;
	text-align: justify;	
}

.content {
	text-align: justify;
	max-width:485px;
}

.content img {
	max-width: 485px;
}

.storytitle {
	margin: 0;
}

.storytitle a {
	text-decoration: none;
}

input, .form-text {
	background-image: url("images/bg-input.png");
	background-color: #C12960;
	background-repeat: repeat-x;
	border: 1px inset #7B1735;
	color: #F6E7E4;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 10pt;
}

.form-radio {
	background-image: none;
	background-color: transparent;
	border: 0px solid #7B1735;
}

.form-textarea, textarea {
	width: 482px;
	background-image: url("images/bg-textarea.png");
	background-color: #C12960;
	background-repeat: repeat-x;
	border: 1px inset #7B1735;
	color: #F6E7E4;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 10pt;
}

#edit-submit, #edit-reset, .form-submit, .teaser-button {
	background-image: url("images/bg-input-button.png");
	background-color: #7B1735 !important;
	background-repeat: repeat-x;
	border: 1px outset #7B1735 !important;
	color: #F6E7E4;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 10pt;
}

select {
	background-color: #991F48;
	border: 0px solid #7B1735;
	color: #F6E7E4;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 10pt;
}

.comment {
	background-color:#F0CED1;
	background-image:url(images/bg-comment.png);
	background-repeat:repeat-y;
	font-size:10pt;
	padding: 0 5px 0 10px !important;
	text-align:justify;
	border:2px solid #4F020C;
	margin:0 0 10px;
}

#comments h3 {
	font-size: 10pt;
	padding: 0;
	margin: 0;
}

.comment .content {
	max-width: 100%;
	overflow: inherit;
}

.submitted ul {
	padding: 0 !important;
	margin: 0 !important;
	display: inline;
	float: right;
}

.submitted ul li {
	list-style-type: none !important;
	background-image: none !important;
	padding: 0 !important;
	margin: 0 !important;
}

.user-signature p {
	font-size: 8pt;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.comment .new {
	font-style: italic;
}

.picture {
	float:right;
	padding:0 0 0 10px;	
}

.picture img {
	border:3px solid #D85089;
	margin:5px;
}

#comments .submitted {
	font-size: 8pt;
	border-top: 1px dotted #9D204A;	
}

ol li.comment {
	margin: 0 0 10px !important;
}

p.commentmeta {
	font-size: 8pt;	
	padding: 0;
	margin: 0;
	clear: both;
	border-top:1px dotted #9D204A;
}

#content .comment a, #content .comment a:link, #content .comment a:active, #content .comment a:visited {
	color: #9D204A;
}

#commentlist li ul {
	border-left: 1px solid #ddd;
	font-size: 110%;
	list-style-type: none;
}

#commentlist li .avatar {
	border:3px solid #D85089;
	float:right;
	margin:5px;
	padding:0;
}

#header {
	margin: 0 0 0 5px;
	padding: 0;
}

#header img {
	display: block;
}

.aligncenter, div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.mdlogo {
	margin: 0 auto;
	text-align: center;	
	padding: 20px 0 0;
}

h1.headertitle {
	margin: 0;
	padding: 0;	
}

#content h1.title {
	margin: 0;
	padding: 0;	
}

#content h5.description {
	margin: 0;
	padding: 0;	
}

#content h5.mission {
	margin: 0;
	padding: 0;	
}

.screenshot {
	width: 75px;
	height: 45px;
		
}

.terms-inline {
	display: block;	
}

#content .terms-inline ul, #content .terms-inline ul li, #content .feedback ul, #content .feedback ul li {
	padding: 0 !important;
	margin: 0 !important;
	background-image: none;
}

.block-search label {
	display: none;	
}

ul.tabs.primary {
	list-style-type:none !important;
	background-image: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

ul.tabs.primary li {
	list-style-type: none !important;
	background-image: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

.block-user h3 {
	color: #E27EA9;
	margin: 0;
	padding: 0;	
}

ul.primary li.active a {
	background-color: transparent;
	background-image: none;
	border: 0px solid #EEB5CE;
	text-decoration: underline !important;
	color: #4F020C !important;
}

ul.primary li a {
	background-color: transparent;
	background-image: none;
	border: 0px solid #EEB5CE;
	text-decoration: underline !important;
	color: #D85089 !important;
	margin: 0;
	padding: 0;
	font-size: 8pt;
}

ul.primary li a:hover {
	background-color: transparent;
	background-image: none;
	border: 0px solid #EEB5CE;
	text-decoration: none !important;
	color: #D85089 !important;
}

ul.primary li.active a:hover {
	background-color: transparent;
	background-image: none;
	border: 0px solid #EEB5CE;
	text-decoration: none !important;
	color: #4F020C !important;
}

ul.primary {
	border-bottom: 0px solid #EEB5CE;
}

ul.secondary li.active a {
	background-color: transparent;
	background-image: none;
	border: 0px solid #EEB5CE;
	text-decoration: none !important;
	color: #4F020C !important;
	border-bottom:4px solid #9D204A;
}

ul.secondary li a {
	background-color: transparent;
	background-image: none;
	border: 0px solid #EEB5CE;
	text-decoration: underline !important;
	color: #9D204A !important;
	margin: 0;
	padding: 0;
	font-size: 8pt;
}

ul.secondary li a:hover {
	background-color: transparent;
	background-image: none;
	border: 0px solid #EEB5CE;
	text-decoration: none !important;
	color: #9D204A !important;
}

ul.secondary li.active a:hover {
	background-color: transparent;
	background-image: none;
	border: 0px solid #EEB5CE;
	text-decoration: none !important;
	color: #4F020C !important;
	border-bottom:4px solid #9D204A;
}

ul.secondary {
	border-bottom: 0px solid #EEB5CE;
}

ul.secondary li {
	border-right: 0px solid #CCCCCC;
}

#content ul.tabs.secondary {
	padding: 0;
}

#content ul.tabs.secondary li {
	background-image: none;
	padding: 0;
	margin: 0;
}

.form-checkboxes .form-item, .form-radios .form-item {
	margin: 0;
}

.form-checkboxes, .form-radios {
	margin: 0;
}

.poll .vote-form .choices .title {
	text-align: center;
	margin: 10px 0;
}

.poll .vote-form .choices {
	margin: 0 auto 10px;
}

.poll .text {
	font-style: italic;
}

.poll .bar {
	background-color: #650D21 !important;
	border:1px solid #7B1735 !important;
	height:12px;
	font-size:7pt;
}

.poll .bar .foreground {
	background-image:url(images/bg-poll.gif) !important;
	height:12px;
	font-size:7pt;
}

.poll .bar .percentage {
	margin-top:-2px;
	color: #E79EB7;	
}

.poll .title {
	font-weight: bold;	
	text-align: center;
	margin: 10px 0;
}

#sidebar .block-poll ul {
	background-image: none;
	list-style-type:none;
	margin: 0 !important;
	padding: 0 !important;
}

#sidebar .block-poll ul li {
	background-image: none;
	list-style-type:none;
	margin: 0 !important;
	padding: 0 !important;
	display: block;
}

#forum table {
	width: 100%;
	font-size: 10pt;	
}

tr.even {
	background-color: #F2CCD8;
	border: 0px solid #E79EB7;
}

tr.odd {
	background-color: #F4D7DD;
	border: 0px solid #E79EB7;
}

table {
	font-size: 8pt;	
}

thead th {
	border-bottom: 3px solid #E79EB7;
	padding: 0;
}

#preview, #preview #img {
	height: 350px;
	width: 460px;
}

fieldset {
	border: 1px dotted #D85089;
}

.sticky-table {
	width: 100%;	
}

#blocks tr.region-message {
	color:#E79EB7;
}

a.tabledrag-handle .handle {
	background-image: url("images/draggable.png");
}

tr.draggable a.tabledrag-handle {
	text-decoration: none !important;	
}

thead {
	background-image: url("images/bg-thead.png");
	background-color: #4F020C;
	background-repeat: repeat-x;
	color: #E79EB7;
	vertical-align:top;
}

thead a {
	color: #E79EB7 !important;	
}

table.sticky-enabled {
	background-image: url("images/bg-thead.png");
	background-color: #4F020C;
	background-repeat: repeat-x;
	color: #E79EB7;
	vertical-align:top;
	width: 100%;
}

table.sticky-enabled tbody {
	color: #9D204A;
}

div.admin-dependencies, div.admin-required {
color:#D85089;
}

tbody {
	border: 0px solid #4F020C;
}

tr.region {
	background-color: #E79EB7;	
}

.block-region {
	background-color: #6AC4DD;
	color: #000;
}

html.js fieldset.collapsible legend a {
	background-image: url("images/bullet-content-expanded-fieldset.gif");
	background-position: 2px 5px;
}

html.js fieldset.collapsed legend a {
	background-image: url("images/bullet-content-collapsed-fieldset.gif");
	background-position: 2px 5px;
}

#forum tr td.forum {
	background-image: url("images/forum-default.png");
}

#forum tr.new-topics td.forum {
	background-image: url("images/forum-new.png");
}

.resizable-textarea .grippie {
	background-color: #7B1735;
	background-image: url("images/grippie.gif");
	border-color: #7B1735;
	border-style:solid;
	border-width:0 1px 1px;
}

html.js input.form-autocomplete {
	background-image: url("images/throbber.gif");
}

#blocks td.region {
	color:#9D204A;
}

td.active {
	background-color: #F4D7DD;
}

table.system-status-report th {
	border: 0 solid #F4D7DD;
}

div.error, tr.error {
	background-color: #4F020C;
	border: 0px solid #4F020C;
	color: #EB2168;
	padding: 5px;
	margin: 5px 0;
}

div.error a, tr.error a {
	color: #F590B4 !important;
}

div.ok, tr.ok {
	background-color: #4F020C;
	border: 0px solid #4F020C;
	color: #88D0C6;
	padding: 5px;
	margin: 5px 0;
}

div.ok a, tr.ok a {
	color: #C4E8E3 !important;
}

div.warning, tr.warning {
	background-color: #4F020C;
	border: 0px solid #4F020C;
	color: #ECA520;
	padding: 5px;
	margin: 5px 0;
}

div.warning a, tr.warning a {
	color: #F6D290 !important;
}

div.messages.status {
	background-color: #4F020C;
	border: 0px solid #4F020C;
	color: #F4D7DD;
	padding: 5px;
	margin: 5px 0;
}

div.messages.status a {
	color: #F6E7E4 !important;
}

tr.ok, tr.warning, tr.error {
	border-bottom: 1px solid #3B0109;	
}

#content .messages ul {
	padding: 0 5px;
}

.progress .bar {
  background: #BE285E url("images/progress.gif");
  border: 1px solid #4F020C;
  height: 1.5em;
  margin: 0 0.2em;
}

.progress .filled {
  background: #BE285E;
  height: 1em;
  border-bottom: 0.5em solid #4F020C;
  width: 0%;
}

div.admin .left .admin-panel {
	background-color:#F4D7DD;
	margin: 0 0 5px;
}

div.admin .left {
	margin: 0 !important;
	width: 240px;
}

div.admin .right .admin-panel {
	background-color:#F4D7DD;
	margin: 0 0 5px;
}

div.admin .right {
	margin: 0 !important;
	width: 240px;
}

.forum-topic-navigation, .book-navigation .page-links {
	background-color:#F4D7DD;
	border-bottom: 1px dotted #D85089;
	border-top: 1px dotted #D85089;
	font-size: 8pt;
	padding: 5px 0;
	margin: 5px 0;
}

.book-navigation {
	font-size: 8pt;
}

#content .book-navigation ul li {
	background-position:0 3px;	
}

.book-navigation .menu {
	border-top:1px dotted #D85089;
}

.forum-topic-navigation .topic-previous, .book-navigation .page-previous {
	float:left;
	padding:0 5px;
	text-align:left;
}

.forum-topic-navigation .topic-next, .book-navigation .page-next {
	float:right;
	padding:0 5px;
	text-align:right;
}

.item-list .pager li {
	background-image: none !important;
	list-style-type: none !important;
	padding: 0 !important;
	font-size: 8pt;
}

#sidebar ul li.openid-link, #content ul li.openid-link {
	background-image: none;
	padding: 0 !important;
}

#user-login-form .item-list {
	text-align: left;
}

html.js fieldset.collapsible .fieldset-wrapper {
	overflow:auto;
	width:450px;
}

.profileitem {
	background-color:#F0CED1;
	margin:0 0 5px;
	padding:5px;
	border-top: 1px dotted #D85089;
	border-bottom: 1px dotted #D85089;
}

.profile dd {
	margin: 0;
}

.searchresult {
	background-color:#F0CED1;
	margin:0 0 5px;
	padding:5px;
	border-top: 1px dotted #D85089;
	border-bottom: 1px dotted #D85089;
}

.search-results dt {
	font-size: 10pt;
	font-weight: bold;
}

.search-results dt a {
	color: #4F020C !important;
}

.search-results dd {
	margin: 0 0 0 20px;	
}

.search-results .search-info {
	font-size: 8pt;
	border-top: 1px dotted #D85089;
}

.search-results p.search-info {
	padding: 0;
	margin: 0;	
}